/* webfonts */


@font-face {
    font-family: 'Gotham Medium';
    src: url('../Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Gotham Medium Italic';
    src: url('../Gotham/Gotham-MediumItalic.otf');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../Gotham/Gotham-Book.ttf');
}

@font-face {
    font-family: 'Gotham Book Italic';
    src: url('../Gotham/Gotham-BookItalic.ttf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../Gotham/Gotham-Light.ttf');
}


@font-face {
    font-family: 'Gotham Bold';
    src: url('../Gotham/Gotham-Bold.ttf');
}

@font-face {
    font-family: 'Gotham Bold Italic';
    src: url('../Gotham/Gotham-BoldItalic.ttf');
}




/* START */


body {
    background-color: #181818;
}

h1, h2, h3, p {
    color: white;
}

h1, h2, h3 { 
    font-family: 'Gotham Medium';
    line-height: 1.3;
}

p {
    font-family: 'Gotham Book';
    line-height: 1.45;
}


/* Mouse circle follow, src=https: //greensock.com/forums/topic/19789-follow-by-mouse/ */

.circle {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: -30px;
    transform: translateX(-30px) translateY(-30px);
    pointer-events: none;
    z-index: 9999;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.circle svg {
    opacity: .5;
    width: 100%;
    position: fixed;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 600ms all cubic-bezier(.23, 1, .32, 1);
    transition: 600ms all cubic-bezier(.23, 1, .32, 1);
}

.circle svg path {
    width: 20px;
    height: 20px;
    fill: #fff;
    -webkit-transition: 600ms all cubic-bezier(.23, 1, .32, 1);
    transition: 600ms all cubic-bezier(.23, 1, .32, 1);
}

.second-title {
    opacity: 0;
}


.layout-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}