/* webfonts */


@font-face {
    font-family: 'Avengers';
    src: url('../Avenger-font/Aviano\ Black.otf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Gotham Medium Italic';
    src: url('../Gotham/Gotham-MediumItalic.otf');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../Gotham/Gotham-Book.ttf');
}

@font-face {
    font-family: 'Gotham Book Italic';
    src: url('../Gotham/Gotham-BookItalic.ttf');
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../Gotham/Gotham-Light.ttf');
}


@font-face {
    font-family: 'Gotham Bold';
    src: url('../Gotham/Gotham-Bold.ttf');
}

@font-face {
    font-family: 'Gotham Bold Italic';
    src: url('../Gotham/Gotham-BoldItalic.ttf');
}




/* START */


body {
    background-color: #000;
}

#fullpage {
     background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url('../images/stars-bg.png');
     background-position: center;
}

h1, h2, h3, p {
    color: white;
    text-shadow: 0px 0px 3px #000000;
}

h1, h2, h3 { 
    font-family: 'Gotham Medium';
    line-height: 1.1;
}

p {
    font-family: 'Cutive Mono', monospace;
    line-height: 1.45;
}


/* Mouse circle follow, src=https: //greensock.com/forums/topic/19789-follow-by-mouse/ */

.circle {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: -30px;
    transform: translateX(-30px) translateY(-30px);
    pointer-events: none;
    z-index: 9999;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.circle svg {
    opacity: .5;
    width: 100%;
    position: fixed;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 600ms all cubic-bezier(.23, 1, .32, 1);
    transition: 600ms all cubic-bezier(.23, 1, .32, 1);
}

.circle svg path {
    width: 20px;
    height: 20px;
    fill: #fff;
    -webkit-transition: 600ms all cubic-bezier(.23, 1, .32, 1);
    transition: 600ms all cubic-bezier(.23, 1, .32, 1);
}



.layout-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    /* grid-gap: 8px; */
}


/* Slide 1  */

/* .welcome-reveal {
    grid-area: 2 / 2 / 6 / 5;
} */

.section .slide:first-of-type .layout-grid h1 {
    grid-area: 3 / 2 / 3 / 8;
    font-size: 4rem;
    font-family: 'Avengers';
    letter-spacing: 4px;
}

.section .slide:first-of-type .layout-grid p{
    grid-area: 4 / 2 / 5 / 6;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    margin-top: -1rem;
}


/* Slide 2 */

.section .slide:nth-of-type(2) .layout-grid p {
    opacity: 0;
}

.section .slide:nth-of-type(2) .layout-grid p:first-of-type {
    grid-area: 2 / 6 / 3 / 11;
}

/* .section .slide:nth-of-type(2) .layout-grid p:nth-of-type(2) {
    grid-area: 2 / 7 / 3 / 11;
} */

.infinity-gauntlet {
    max-width: 100%;
    height: auto;
    grid-area: 2 / 2 / 4 / 5;
    opacity: 0;
}


/* Slide 3 */


.section .slide:nth-of-type(3) .layout-grid h1 {
    grid-area: 2/ 8 /5 / 10;
}

.section .slide:nth-of-type(3) .layout-grid p {
    grid-area: 3/ 8 /6 / 11;
}

.scarecrow {
    grid-area: 3/ 3 /6 / 11;
}

#juxtapose-embed {
    height: 100vh !important;
    width: 100vw !important;
}

a.jx-knightlab {
    all: inherit !important;
}


/* Slide 4 */

.section .slide:nth-of-type(4) .layout-grid h1 {
    grid-area: 1/ 2 /1 / 2;
}

.section .slide:nth-of-type(4) .layout-grid p {
    grid-area: 5 / 2 / 5 / 9;
}

#video-placeholder {
    width: 90%;
    height: 100%;
    grid-area: 2/ 2 / 5 / 7;
    opacity: .3;
}

#video-placeholder-2 {
    width: 90%;
    height: 100%;
    grid-area: 2 / 7 / 5 / 12;
    opacity: .3;
    transition: opacity 2s ease-in-out;
}

#video-placeholder:hover {
    opacity: 1;
}